* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?vilnius");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #000000d0;
  color: #fff;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  margin: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  padding: 0.5rem;
  border-radius: 24px;
  background-color: #7c7c7c2b;
  color: #fff;
  font-size: 120%;
}

i {
  font-size: 1.5rem;
}

.feelsLike,
.temp,
.city {
  margin: 20px 0;
}

.temp {
  font-size: 3rem;
}

.daylength,
.description,
.humidity,
.sunrise,
.sunset,
.wind {
  font-size: 1.5rem;
  margin: 10px 0;
}

.loading {
  display: none;
}
